/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url('../Images/beach-dark.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

/* About Container styling */
.container {
    display: flex;
    width: 100%;
    height: calc(100vh - 500px); /* Adjust height to leave space for the header and footer */
    margin: 80px 120px 80px 0;
}

/* About Us title left*/
.about-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.about-left h1 {
    font-size: 100px;
    color: white;
    text-shadow: 2px 2px 5px black;
    position: absolute;
    left: 20%;
}

/* About us Right content */
.about-right {
    flex: 1;
    background-color: #fefefe;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    border-radius: 20px;
}

.about-right p1 {
    font-size: 1.2em;
    line-height: 1.6;
    text-align: justify;
}

.about-right p2 {
    font-weight: bold;
    font-size: 1.3em;
    line-height: 1.6;
    text-align: center;
}

