* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url('../Images/beach-dark.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

/* About Container styling */
.container {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 1200px;
    height: 80vh;
    margin: 80px auto;
    overflow: hidden;
}

/* About Us title left */
.about-left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.about-left h1 {
    font-size: 5vw; /* Responsive font size */
    color: white;
    text-shadow: 2px 2px 5px black;
}

/* About us Right content */
.about-right {
    background-color: rgba(0, 0, 0, 0.39);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    margin: 20px 0;
    flex: 2;
    overflow-y: auto;
}

.about-right p {
    font-size: 1.2em;
    line-height: 1.6;
    text-align: justify;
}

/* Responsive design solution */
@media (min-width: 768px) {
    .container {
        flex-direction: row;
        height: 70vh;
    }

    .about-left,
    .about-right {
        margin: 0 20px;
    }

    .about-left h1 {
        font-size: 4vw;
        position: absolute;
        left: 10%;
    }

    .about-right p {
        font-size: 1.1em;
    }
}
