<!DOCTYPE html>
<html lang="en" layout:decorate="layouts/DefaultLayout">
<body>
<div class="container" layout:fragment="content">
    <section class="content">
        <div><h1>CRAFTING TIMELESS MEMORIES,<br>TOGETHER</h1>
        </div>
        <p>Welcome to Reminisce, your personalized platform
            for creating and cherishing memorable wedding experiences
        </p>

        <div>
            <button type="button"><span></span>MANAGE YOUR EVENT</button>
            <button type="button"><span></span>SEARCH EVENT</button>
        </div>
    </section>

    <section class="about">
        <div><h1>ABOUT US</h1></div>

        <div><img th:src="@{/Images/background.jpg}" alt="Background Image" width="450" height="250">
            <p>Welcome to Reminisce, your personalized platform for creating and cherishing memorable wedding experiences.
                <br><br>Dive into our digital haven, where organizing your dream wedding is as effortless as a gentle breeze.
                <br><br>With Reminisce, you can effortlessly organize every aspect of your special day, from event creation
                to guest management and beyond.
                Whether you're an event organizer crafting the perfect celebration or a guest eagerly anticipating the
                festivities, our intuitive interface ensures a seamless journey.
                <br><br>Explore our array of features, including RSVP management, menu customization, and photo gallery
                uploads, designed to capture and preserve every precious moment. Join us on Reminisce, where every detail
                matters and memories last a lifetime.
            </p></div>

    </section>
    <section class="events">
        <h1>YOUR EVENTS</h1>
        <div>
            <button type="button"><span></span>MANAGE YOUR EVENT</button>
            <button type="button"><span></span>SEARCH EVENT</button>
        </div>
    </section>
</div>
</body>
</html>